body{
	position: relative;
    background-image:url("../images/Moon.jpg");
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
}

div.body_div1{
	position: relative;
    left: 105mm;
    width: 150mm;
	top: 20mm;
	height: 110mm;
	border-radius: 2mm;
    background-color: rgba(255, 255, 255, 0.4);
}

img.body_img{
    position: relative;
    width: 100px;
    height: 100px;
    top: -2mm;
}

p.body_title{
    position: relative;
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    color: blue;
    text-align: center;
    top: -15mm;
}

table.body_table{
    position: relative;
    top: -20mm;
}

.submitButton{
	position: relative;
	width: 80%;
	top: 10mm;
	height: 11mm;
	border-radius: 2mm;
	background-color: #364e96;
	border-color: #364e96;
	font-weight: 700;
	font-size: 14pt;
	cursor: pointer;
	color: white;
}

.resetButton{
	position: relative;
	width: 80%;
	top: 10mm;
	height: 11mm;
	border-radius: 2mm;
	background-color: #D3D3D3;
	border-color: #D3D3D3;
	font-weight: 700;
	font-size: 14pt;
	cursor: pointer;
	color: black;
}

hr{
    position: relative;
    top: -3mm;
    width: 90%;
}

a.body_a{
    position: relative;
    top: -5mm;
    text-decoration: none;
    color: navy;
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}