body{
	position: relative;
	overflow-x: hidden;
	background-color: #D3D3D3;
}

#header{
	position: fixed;
	background: linear-gradient(90deg, rgb(203, 228, 250), rgb(104, 177, 241) 30%, rgb(19, 131, 229) 100%);
	top: 0mm;
	left: 0mm;
	height: 25mm;
	width: 362mm;
	z-index: 1;
}	

.img1{
	position: relative;
	width: 100px;
	height: 100px;
	left: 3mm;
	top: -1mm;
}

.title{
	position: relative;
	font-family: 'Amatic SC', cursive;
	font-size: 24pt;
	color: blue;
	left: 30mm;
	top: -30.5mm;
}

ul.head_li{
	position: relative;
	top: -59mm;
}

ul.head_li > li{
	position: relative;
	display: inline-block;
	list-style: none;
	left: 276mm;
}
ul.head_li > li > a{
    padding: 36px 20px;				/*上下に36px, 左右に15pxの間隔を開ける*/
    display: block;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;					/*文字の間隔を1px分開ける*/
	color: lightcyan;
}
ul.head_li > li:hover > a{
	color: navy;
	background-color: rgba(255, 255, 255, 0.2);
	height: 6mm;
}

.sub1{
	position: relative;
	top: 25mm;
	left: 100mm;
	width: 150mm;
	height: 105mm;
	background-color: #fff;
	border-radius: 2mm;
}

h2{
	position: relative;
	font-family: 'Amatic SC', cursive;
	color: #364e96;
	font-size: 20pt;
	padding: 0 0;/*上下の余白*/
  	border-top: solid 3px #364e96;/*上線*/
}

h5{
	position: relative;
	font-family: 'Amatic SC', cursive;
	color: #364e96;
	top: -6mm;
	padding: 0.25em 0;/*上下の余白*/
	border-bottom: solid 3px #364e96;/*下線*/
}

.link1{
	position: relative;
	top: auto;
	color: 364e96;
}