<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BlueDolphin</display-name>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Servlet.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>Servlet.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/Logout</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Kintai</servlet-name>
<servlet-class>Servlet.KintaiServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Kintai</servlet-name>
<url-pattern>/Kintai</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LastNextMonth</servlet-name>
<servlet-class>Servlet.LastNextMonthServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LastNextMonth</servlet-name>
<url-pattern>/LastNextMonth</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>KintaiView</servlet-name>
<servlet-class>Servlet.KintaiViewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>KintaiView</servlet-name>
<url-pattern>/KintaiView</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Kinmuhyo</servlet-name>
<servlet-class>Servlet.KinmuhyoServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Kinmuhyo</servlet-name>
<url-pattern>/Kinmuhyo</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AttendanceUpdate</servlet-name>
<servlet-class>Servlet.AttendanceUpdateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AttendanceUpdate</servlet-name>
<url-pattern>/AttendanceUpdate</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AttendanceUpdateView</servlet-name>
<servlet-class>Servlet.AttendanceUpdateViewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AttendanceUpdateView</servlet-name>
<url-pattern>/AttendanceUpdateView</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ChangePassword</servlet-name>
<servlet-class>Servlet.ChangePasswordServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ChangePassword</servlet-name>
<url-pattern>/ChangePassword</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ManHourView</servlet-name>
<servlet-class>Servlet.ManHourViewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ManHourView</servlet-name>
<url-pattern>/ManHourView</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>MatterAssignment</servlet-name>
<servlet-class>Servlet.MatterAssignmentServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>MatterAssignment</servlet-name>
<url-pattern>/MatterAssignment</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ManHour</servlet-name>
<servlet-class>Servlet.ManHourServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ManHour</servlet-name>
<url-pattern>/ManHour</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ManHourRegister</servlet-name>
<servlet-class>Servlet.ManHourRegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ManHourRegister</servlet-name>
<url-pattern>/ManHourRegister</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AccountCheck</servlet-name>
<servlet-class>Servlet.AccountCheckServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AccountCheck</servlet-name>
<url-pattern>/AccountCheck</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AccountAddition</servlet-name>
<servlet-class>Servlet.AccountAdditionServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AccountAddition</servlet-name>
<url-pattern>/AccountAddition</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteCheck</servlet-name>
<servlet-class>Servlet.DeleteCheckServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteCheck</servlet-name>
<url-pattern>/DeleteCheck</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteAccount</servlet-name>
<servlet-class>Servlet.DeleteAccountServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteAccount</servlet-name>
<url-pattern>/DeleteAccount</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TransportationExpenses</servlet-name>
<servlet-class>Servlet.TransportationExpensesServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>TransportationExpenses</servlet-name>
<url-pattern>/TransportationExpenses</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>WorkRemotely</servlet-name>
<servlet-class>Servlet.WorkRemotelyServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>WorkRemotely</servlet-name>
<url-pattern>/WorkRemotely</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>WorkRemotelyView</servlet-name>
<servlet-class>Servlet.WorkRemotelyViewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>WorkRemotelyView</servlet-name>
<url-pattern>/WorkRemotelyView</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>WorkRemotelyCheck</servlet-name>
<servlet-class>Servlet.WorkRemotelyCheckServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>WorkRemotelyCheck</servlet-name>
<url-pattern>/WorkRemotelyCheck</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>WorkRemotelyResult</servlet-name>
<servlet-class>Servlet.WorkRemotelyResultServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>WorkRemotelyResult</servlet-name>
<url-pattern>/WorkRemotelyResult</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>VacationRequestView</servlet-name>
<servlet-class>Servlet.VacationRequestViewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>VacationRequestView</servlet-name>
<url-pattern>/VacationRequestView</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>VacationRequestProcess</servlet-name>
<servlet-class>Servlet.VacationRequestProcessServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>VacationRequestProcess</servlet-name>
<url-pattern>/VacationRequestProcess</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ApprovalRejectedView</servlet-name>
<servlet-class>Servlet.ApprovalRejectedViewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ApprovalRejectedView</servlet-name>
<url-pattern>/ApprovalRejectedView</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ApprovalRejectedDetailsView</servlet-name>
<servlet-class>Servlet.ApprovalRejectedDetailsViewServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ApprovalRejectedDetailsView</servlet-name>
<url-pattern>/ApprovalRejectedDetailsView</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ApprovalRejectedDetails</servlet-name>
<servlet-class>Servlet.ApprovalRejectedDetailsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ApprovalRejectedDetails</servlet-name>
<url-pattern>/ApprovalRejectedDetails</url-pattern>
</servlet-mapping>

</web-app>